NODE_ENV="development"
#NODE_ENV="production"
PORT="3000"

RABBITMQ_NAME="ussr"
RABBITMQ_HOST="localhost:5672"
RABBITMQ_USER="guest"
RABBITMQ_PASSWORD="guest"

SSR_CACHE_FILE="cache/database.db"
SSR_TIMEOUT="300000"
SSR_BROWSER_ARGS="--single-process,--no-sandbox,--no-zygote"
SSR_SECURE="true"
SSR_DOMAIN="localhost:3000"
